beautifulsoup4
contractions
Flask
gunicorn
pandas
scikit-learn
spacy
anyascii
blis
catalogue
certifi
chardet
click
cymem
Werkzeug
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
